<a href="https://colab.research.google.com/github/NoelG2002/ml_ai/blob/assign/assgn1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Sum of elements of list
a=[10,14,13,8,7]
s=0
for num in a:
  s=s+num 
print("Sum=",s)

Sum= 52

In [ ]:
#@title Sequence of string
st=input("Enter a string:")
print("Length=",len(st))
print(st[0:len(st)//2])

Enter a string:helloworld
Length= 10
hello

In [ ]:
#@title Add 2 strings
s1=input("Enter first string:")
s2=input("Enter second string:")
r=s1+s2
print(r)
print("Length:",len(r))

Enter first stringhello
Enter second stringworld
helloworld
Length: 10

In [ ]:
#@title Changing values of tuples
numbers=('78','45','32','19','82','77','40','39')
num=list(numbers)
num[2]=100
print(num)

['78', '45', 100, '19', '82', '77', '40', '39']

In [ ]:
#@title List operations
lstA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
lstA.remove(32)
print(lstA)
while 40 in lstA:
  lstA.remove(40)
print(lstA)
lstA.pop(5)
print(lstA)
lstA[8]=300
print(lstA)
lstA[2]+=200
print(lstA)
print("Length:",len(lstA))
print("Max value:",max(lstA))
s=0
for i in lstA:
   s=s+i
print("sum:",s)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
[19, 10, 55, 31, 32, 29, 10, 65, 77]
[19, 10, 55, 31, 32, 29, 10, 65, 300]
[19, 10, 255, 31, 32, 29, 10, 65, 300]
Length: 9
Max value: 300
sum: 751